---
// Import Stylesheet

import '../styles/global.css';


// data source

const source = 'https://strangerthings-quotes.vercel.app/api/quotes/50';
// fetch the data
const res = await fetch(source); 
// store retreived data
const data = await res.json();

const siteName = 'Stranger Things Quotes';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<!-- Normalize CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">

		<title> {siteName} </title>
	</head>
	<body>
		
		<header class="masthead">
			<h1 class="site-title">Stranger Things Quotes</h1>
		</header>

		<main id="content" class="main-area">

			<ul class="cards">
		  
				<!-- Your API Data -->
				{
					data.map (data => 
					<p>{data.quote}</p>
					
				
				)
				}
		  
			</ul>
		  </main>
		  


	</body>
</html>
